@import url(https://fonts.googleapis.com/css?family=Rubik|Asap);
html,
body {
  height: 100%;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  line-height: 1.8;
}

body {
  padding-top: 50px;
  /* Required padding to stop the navbar from overlaying the content. */
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 48px;
  color: #5cb85c;
}

h4,
h3 {
  font-family: 'Rubik', sans-serif;
}


/* overwrite for panels that i don't want to have borders */

.panel-no-border {
  border: none;
  box-shadow: none;
}

.panel-body-hidden {
  display: none;
}

.nav-header{
  cursor: default;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #5cb85c;
    border-color: #468c46;
}

textarea {
    resize: none;
}

.light-name{
  font-weight: bold;
}

/* this is used as the 'greenlight' until our actual graphic is ready */
.temp-greenlight{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  background-color: #5cb85c;
  margin-left: 10px;
  margin-top: 10px;
  padding: 30px;
}

.tooltip-inner {
    white-space:pre;
    max-width:none;
}

/* note for steph from steph: remove border radius from buttons */

/***********/


/* nav bar */


/***********/

.navbar-gl {
  background-color: #fff;
  font-family: 'Rubik', sans-serif;
  color: #000;
  border-radius: 0;
  box-shadow: inset 0px 6px 0px #5cb85c;
  /* top border */
}


/* link font colour */

.navbar-gl .navbar-nav> li> a {
  color: #000;
}


/* link hover colour */

.navbar-gl .navbar-nav> li> a:hover,
li> a:active {
  color: #5cb85c;
}


/* background change when links clicked */

.navbar-gl .navbar-nav> li> a:focus,
li> a:active {
  color: #5cb85c;
  background-color: #e7e7e7;
  box-shadow: inset 0px 6px 0px #3e7b3e;
}

.navbar-gl .navbar-brand {
  color: #e1e1e1;
  font-size: 1.32em;
  font-weight: bold;
}

.navbar-gl .navbar-brand:hover {
  color: #5cb85c;
}

.panel-body-signup {
  padding: 0px;
}


/* change drop down menu text colour and overwrite box-shadow on click */

.navbar-gl .navbar-nav .open .dropdown-menu> li> a,
.navbar-default .navbar-nav .open .dropdown-menu {
  color: #5cb85c;
  box-shadow: inset 0px 0px 0px #fff;
}

.navbar-brand > img {
  display: inline;
}




/**********/


/* footer */


/**********/

footer {
  margin: 30px 0;
}




/*! ========================================================================
 * Bootstrap Toggle: bootstrap-toggle.css v2.2.0
 * http://www.bootstraptoggle.com
 * ========================================================================
 * Copyright 2014 Min Hur, The New York Times Company
 * Licensed under MIT
 * ======================================================================== */
.checkbox label .toggle,.checkbox-inline .toggle{margin-left:-20px;margin-right:5px}
.toggle{position:relative;overflow:hidden}
.toggle input[type=checkbox]{display:none}
.toggle-group{position:absolute;width:200%;top:0;bottom:0;left:0;transition:left .35s;-webkit-transition:left .35s;-moz-user-select:none;-webkit-user-select:none}
.toggle.off .toggle-group{left:-100%}
.toggle-on{position:absolute;top:0;bottom:0;left:0;right:50%;margin:0;border:0;border-radius:0}
.toggle-off{position:absolute;top:0;bottom:0;left:50%;right:0;margin:0;border:0;border-radius:0}
.toggle-handle{position:relative;margin:0 auto;padding-top:0;padding-bottom:0;height:100%;width:0;border-width:0 1px}
.toggle.btn{min-width:59px;min-height:34px}
.toggle-on.btn{padding-right:24px}
.toggle-off.btn{padding-left:24px}
.toggle.btn-lg{min-width:79px;min-height:45px}
.toggle-on.btn-lg{padding-right:31px}
.toggle-off.btn-lg{padding-left:31px}
.toggle-handle.btn-lg{width:40px}
.toggle.btn-sm{min-width:50px;min-height:30px}
.toggle-on.btn-sm{padding-right:20px}
.toggle-off.btn-sm{padding-left:20px}
.toggle.btn-xs{min-width:35px;min-height:22px}
.toggle-on.btn-xs{padding-right:12px}
.toggle-off.btn-xs{padding-left:12px}



/******************/


/* responsiveness */


/******************/


/* so the search bar in the footer doesn't pull right when it stacks -> 768px = tablet */

@media (min-width: 768px) {
  .pull-right-lg {
    float: right;
  }
}
