Order Deny,Allow
Allow from any

# Documents that will display when a particular HTTP error is thrown
ErrorDocument 404 /error/404.php
ErrorDocument 500 /error/500.php
ErrorDocument 403 /error/403.php


# Redirect rule for all api calls
<IfModule mod_rewrite.c>
  RewriteEngine On
  
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  RewriteRule ^api/([^/\.]+)/?$ api.php?url=$1 [PT,L,B]

</IfModule>

Options +FollowSymLinks
RewriteEngine On
